<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<!--   <context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	 <filter>
		<filter-name>PerformanceFilter</filter-name>
		<display-name>PerformanceFilter</display-name>
		<description></description>
		<filter-class>filters.PerformanceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PerformanceFilter</filter-name>
		<url-pattern>/PerformanceFilter</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listeners.ContextListener</listener-class>
	</listener> -->
 		<servlet>
		<servlet-name>StudentController</servlet-name>
		<display-name>StudentController</display-name>
		<description></description>
		<servlet-class>controller.StudentController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/studentInfo</url-pattern>
	</servlet-mapping> 
</web-app>
